################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MondoCore.Log/bin
/MondoCore.Log/obj
/test/MondoCore.Log.UnitTests/bin
/test/MondoCore.Log.UnitTests/obj
/MondoCore.Rest/bin
/MondoCore.Rest/obj
/MondoCore.Rest.UnitTests/bin
/MondoCore.Rest.UnitTests/obj
